<h1>Cities#show</h1>

<p><%= @city.name %></p>

<ul>
  <% @city.logs.each do |log| %>
    <li><%= link_to "#{log.title} by #{log.user.first_name} #{log.user.last_name}",
            user_log_path(log.user, log) %></li>
  <% end %>
</ul>
