<h1>Logs#new</h1>

<%= form_for @log, url: user_logs_path do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :content, size: "60x12" %>
  <%= f.submit "Post" %>
<% end %>





<%#= form_for @log, :url => logs_path, :html => { :multipart => true } do |f| %>
  <%#= #f.file_field :image %>
<%# end %>